// declare colors
$color1: #FFF5E4;
$color2: #FFC4C4;
$color3: #EE6983;
$color4: #850E35;


@mixin flex($justify-content) {
    display: flex;
    align-items: center;
    justify-content: $justify-content;
}


*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: $color4;
    text-decoration: none;
    outline: none;
    border: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
li,
th,
a {
    font-weight: 400;
    color: $color4;
}

button,
.profile,
select {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.nav-bar {
    display: block;
    width: 100%;
    box-shadow: 0 3px 20px $color1;
    border-bottom: 0.1px solid $color2;
    position: relative;


    .profile-popovers {
        position: absolute;
        right: 1rem;
        margin-top: 1.3rem;
        z-index: 100;
        background-color: #fefefe;
        padding: 2.5rem 2rem;
        padding-bottom: 1rem;
        box-shadow: 1px 2px 10px #ccc;
        border-radius: 0.5rem;
        border: 1px solid $color1;
        display: none;

        &::before {
            content: "";
            border-width:1.6rem;
            border-style: solid;
            border-color: transparent;
            border-bottom-color: #fefefe;
            position: absolute;
            top: -1rem * 3;
            right: 2rem;
            
        }

        ul {
            line-height: 3rem;
            li {
                &:first-child {
                    border-bottom: 1px solid $color1;
                    padding-bottom: 1rem;
                }

                &:last-child {
                    border-top: 1px solid $color1;
                    padding-top: 1rem;
                }
            }
        }
    }

    .border-top {
        padding: 0.3rem;
        background-image: linear-gradient(45deg, rgb(255, 119, 0), rgb(255, 0, 0), rgb(225, 22, 225));
    }

    .row {
        @include flex(space-between);
        padding: 0.6rem;

        .col {
            width: auto;
            overflow-x: auto;

            li {
                margin: 0 0.7rem;
            }

            .row {
                @include flex(space-between);
            }
        }
    }

    .row-1 {
        padding: 0.6rem 2rem;
        border-bottom: 2px solid $color1;
        font-size: 0.9rem;
    }

    .row-2 {
        border-bottom: 2px solid $color1;
        padding: 0.6rem 3rem;
        @include flex(space-around);
        
        .row {
            @include flex(center);
            width: 100%;
            margin-left: 6rem;
            position: relative;

            span.material-icons {
                position: absolute;
                left: 1.3rem;
                pointer-events: none;
                color: $color2;
                font-size: 1.6rem;
                top: 50%;
                transform: translateY(-50%);
            }

            input {
                border: 1px solid $color2;
                height: 3.4rem;
                flex-grow: 1;
                padding: 0 1rem;
                padding-left: 2.4rem;
                font-size: 1rem;
            }

            button {
                width: 7rem;
                height: 3.4rem;
                background-color: $color4;
                color: $color1;
                margin-right: 2rem;
            }
        }
    }
}

@media (max-width: 805px) {
    .nav-bar {
        .profile-popovers {
            &::before {
                border:0;
            }
        }
    }
}

img {
    object-fit: cover;
}

::placeholder {
    color: rgb(228, 155, 131);
}

@mixin border-bottom($size) {
    border-bottom: $size solid $color1;
}

.border-bottom {
    @include border-bottom(2px);
}

.p {
    padding: 20px 0;
}

a:hover {
    opacity: 0.7;
}

section {
    height: 100vh;

    .grid {
        display: grid;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        grid-template-columns: repeat(5, 1fr);
        min-height: 80vh;

        .col {
            padding: 0.4rem;
            max-height: 100vh;
            overflow-y: auto;

            &:first-child {
                min-width: 12rem;
                background-color: rgb(250, 249, 249);
            }

            h1 {
                @include border-bottom(1px);
                margin: 1rem 0;
                padding: 1rem 0;
            }

            ul {
                padding: 20px;
                line-height: 40px;
            }
        }

        .col-span-2 {
            grid-column: span 4;
            padding: 1rem 1rem;
            border-left: 1px solid $color1;
            padding-bottom: 0;
            position: relative;

            div.border-bottom {
                padding: 0.1rem;
                background-image: linear-gradient(45deg, rgb(255, 119, 0), rgb(255, 0, 0), rgb(225, 22, 225));
                position: absolute;
                left: 0;
                width: 100%;


            }

            .row {
                @include flex(space-evenly);
                width: 100%;
                gap: 20px;
                align-items: flex-start;
                margin-top: 1rem;
                background-color: #fafafa;
                border: 1px solid #f0f0f0;

                ul {
                    width: auto;
                    display: block;

                    // li a {
                    //     padding-left: 1rem;
                    // }
                }
            }

            .container {
                .flex {
                    @include flex(space-between);
                    padding-bottom: 1rem;

                    .col {
                        background-color: transparent;

                        select {
                            width: 10rem;
                            background-color: #fafafa;
                            border: 1px solid #f0f0f0;
                            height: 2rem;
                            padding-left: 0.5rem;

                        }

                        .btn-primary {
                            background-color: rgb(3, 11, 1);
                            width: 6rem;
                            height: 2rem;
                            margin-left: 1rem;
                            color: #eee;
                        }
                    }
                }
            }

            table {
                width: 100%;
                overflow-x: auto;
                padding: 1rem;
                border: 1px solid $color1;
                border-collapse: collapse;

                tr {
                    &:nth-child(even) {
                        background-color: #fef0f0;
                    }

                    &:nth-child(odd) {
                        background-color: #fefefe;
                    }

                    .btn {
                        width: 5rem;
                        height: 2rem;
                        margin: 0.1rem;
                    }

                    .btn-danger {
                        background-color: $color4;
                        color: white;
                    }

                    .btn-success {
                        background-color: $color1;
                        border: 1px solid $color2;
                        color: #000;
                        font-weight: 300;
                    }


                }

                th,
                td {
                    text-align: left;
                    padding: 8px;

                    &:last-child {
                        text-align: right;
                    }

                    span {
                        background-color: #f0f0f0;
                        padding: 0.1rem 1rem;
                        border-radius: 50px;
                        border: 1px solid $color2;
                        font-size: 0.8rem;

                        &:hover {
                            border: 1px dotted $color4;
                        }
                    }
                }
            }
        }

    }

}

@media (max-width: 840px) {
    section .grid .col-span-2 .container .flex {
        display: block;
        padding-bottom: 1rem;
    }
}

@media (max-width: 600px) {
    .nav-bar {
        .row-1 {
            justify-content: flex-start;
            padding: 0.7rem 0rem;

            .col-1 {
                display: none;
            }
        }

        .row-2 {
            justify-content: space-between;
            width: 100%;
            padding: 1rem;

            .row {
                margin-left: 2rem;
                width: 100%;
                padding: 0;

                i.material-icons {
                    left: 0.5rem;
                }

                input {
                    width: 100%;
                }

                button {
                    width: 7rem;
                }
            }
        }
    }


    section {
        overflow-y: auto;

        .grid {
            display: block;

            .col {
                overflow: visible;
                padding-top: 1rem;

            }

        }
    }
}

@media (max-width: 714px) {
    section {
        .grid {
            .col {
                .row {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .nav-bar {
        .row {
            h1 {
                display: none;
            }
        }

        .row-2 {
            justify-content: space-between;

            .row {
                input {
                    border: 1px solid #ffc4c4;
                    height: 3.4rem;
                    background-color: rgb(247, 245, 245);
                    flex-grow: 1;
                    padding-left: 1.8rem;
                    font-size: 0.9rem;
                }

                button {
                    width: 8rem;
                    margin-right: 1rem;
                }
            }
        }
    }

}

.d-flex {
    @include flex(flex-start);
    gap: 10px;
}